/** @format */

.App {
  text-align: center;
}

img {
  height: 400px;
  width: auto;
}

.neatcode-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.neatcode-img {
  height: 170px;
  width: 170px;
}

.neatcode-pic {
  /* border: #f44336 2px solid; */
  height: 70vh;
  width: auto;
}

.markiting-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 13px;
  /* padding-bottom: 4rem; */
  margin-top: 2rem;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 20px;
  background-color: rgb(125, 202, 186);
  color: #053257;
  box-shadow: 2px 4px 10px slategrey;
  font-size: 5rem;
  padding: 1rem;
}

.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-right: 25px;
  margin-left: 25px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.product {
  box-shadow: 2px 4px 10px slategrey;
  margin-bottom: 20px;
  padding: 1rem;
}
.product:hover {
  box-shadow: 2px 4px 10px rgb(5, 5, 5);
}

.product-text {
  padding: 20px;
}

.team-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.red-text {
  margin-right: 1rem;
  margin-left: 1rem;
  color: red;
}

.margin {
  margin: 20rem 3rem;
}

.user-login {
  margin: 3rem 3rem;
}

.marginR {
  margin: 5rem 3rem;
}

.register-div {
  margin: 1rem;
}

.register-link {
  /* border: 2px red solid; */
  display: flex;
  margin: 1rem;
}

.show {
  margin-top: 1rem;
}

.no-show {
  display: none;
}

.complete {
  text-decoration: line-through;
  color: red;
}

.container {
  padding: 1rem;
  width: 72%;
  box-shadow: 2px 4px 10px slategrey;
}

.container2 {
  font-size: 1.2rem;
  background-color: rgba(33, 235, 26, 0.8);
  margin: 1rem;
  padding: 1rem;
  width: 72%;
  box-shadow: 2px 4px 10px slategrey;
}

.container3 {
  font-size: 1.2rem;
  background-color: rgba(11, 245, 226, 0.938);
  margin: 1rem;
  padding: 1rem;
  width: 72%;
  box-shadow: 2px 4px 10px slategrey;
}

.flex2 {
  display: flex;
  justify-content: center;
}
.flex {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.button-margin {
  margin-top: 0.5rem;
}

.questions-container {
  padding: 1rem;
  width: 90%;
  box-shadow: 2px 4px 10px slategrey;
  background-color: rgba(11, 245, 226, 0.438);
}
.questions-container:hover {
  box-shadow: 2px 4px 10px black;
}

.easy {
  background-color: rgba(11, 245, 226, 0.438);
}

.medium {
  background-color: rgba(165, 244, 0, 0.8);
}

.hard {
  background-color: rgba(255, 170, 0, 0.808);
}

.questions-grid {
  margin-top: 2rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 13px;
}

.question-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header {
  margin-bottom: 20px;
  margin-top: 25px;
  padding: 1rem;
}

.button-red {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-red:hover {
  background-color: #f44336;
  color: white;
}

.button-green {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button-green:hover {
  background-color: #4caf50;
  color: white;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 20px;
  /* border: red 2px solid; */
}

.samll-menu {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  display: none;
}

.note-form {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 2rem;
}

.note {
  padding: 1rem;
  margin: 1rem;
  width: 90%;
  box-shadow: 2px 4px 10px slategrey;
  background-color: rgba(11, 245, 226, 0.238);
}
@media (max-width: 1250px) {
  .questions-grid {
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 13px;
  }

  .note-form {
    width: 100%;
  }
  .product-container {
    display: block;
  }

  .markiting-1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .neatcode-pic {
    display: none;
  }
  .markiting-1 {
    display: block;
    padding-bottom: 2rem;
    font-size: 2rem;
  }

  .team-container {
    display: block;
  }
  .gridContainer {
    display: block;
  }

  .questions-grid {
    margin-right: auto;
    margin-left: 2.5rem;
  }

  .sizer {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .header {
    display: none;
  }
  .samll-menu {
    display: block;
    margin-top: 0.8rem;
  }
  .note {
    margin-left: auto;
    margin-right: auto;
  }

  .virvertical-divider {
    display: none;
  }

  img {
    height: 300px;
  }
}

@media (max-width: 550px) {
  .question-flex {
    grid-template-columns: 1fr;
  }

  img {
    height: 200px;
  }
}
